In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings('ignore')

<h1>UK ROAD ACCIDENT DATA ANALYSIS</h1>
<h2>INCLUSIVE YEAR 2019 - 2022</h2>
<h3>Analyst: Khristian Rodas</h3>

In [3]:
accident = pd.read_csv("dataset//accident_data.csv")

In [4]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [5]:
accident.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

In [6]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [7]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mode()[0])
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mode()[0])
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna(accident['Road_Surface_Conditions'].mode()[0])
accident['Road_Type'] = accident['Road_Type'].fillna(accident['Road_Type'].mode()[0])
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])

In [8]:
for col in["Accident_Severity","Latitude", "Light_Conditions", "District Area", 
           "Longitude", "Road_Surface_Conditions", "Road_Type", "Urban_or_Rural_Area",
          "Weather_Conditions", "Vehicle_Type"]:
    accident[col] = accident[col].astype('category')

accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = "coerce")

In [9]:
accident.isnull().sum()

Index                           0
Accident_Severity               0
Accident Date              395672
Latitude                        0
Light_Conditions                0
District Area                   0
Longitude                       0
Number_of_Casualties            0
Number_of_Vehicles              0
Road_Surface_Conditions         0
Road_Type                       0
Urban_or_Rural_Area             0
Weather_Conditions          14128
Vehicle_Type                    0
dtype: int64

In [10]:
accident ['Year'] = accident ['Accident Date'].dt.year
accident ['Month'] = accident ['Accident Date'].dt.month
accident ['day'] = accident ['Accident Date'].dt.day
accident ['week'] = accident ['Accident Date'].dt.dayofweek

# accident ['Accident Date'] = accident ['Accident Date'].astype('str')
# accident.dtypes
# accident ['Accident Date'] = accident ['Accident Date'].str.strip()
# accident ['Accident Date'] = accident ['Accident Date'].str.replace('/','-')

In [ ]:
accident

<h1>Insight No. 1</h1>
<h2>What type of road has the highest fatal serverity accident?</h2>
<h3>The highest fatal serverity accident in a road is in a single carriageway</h3>

<h1>Insight No. 2</h1>
<h2>What type of road has the highest Serious serverity accident?</h2>
<h3>The highest Serious serverity accident in a road is in Single carriageway with 70540 value </h3>

<h1>Insight No. 3</h1>
<h2>What type of road has the highest Slight serverity accident?</h2>
<h3>The highest Slight serverity accident in a road is in Single carriageway with 419563 value </h3>

In [ ]:
ra_serverity = accident.groupby(["Road_Type", "Accident_Severity"]).size()

In [ ]:
ra_serverity.unstack()

<h1>Insight No. 4</h1>
<h2>Does accidents happens more in urban areas?</h2>
<h3>Accidents happens mostly in urban areas with 421678 value</h3>

In [ ]:
accident["Urban_or_Rural_Area"].value_counts()

<h1>Insight No. 5</h1>
<h2>What is the average number of casualties? </h2>
<h3>The average number of casualties is 1.4 </h3>

In [ ]:
avg_casualties = np.round(accident['Number_of_Casualties'].mean(), 1)

In [ ]:
avg_casualties

<h1>Insight No. 6</h1>
<h2>What is the average number of vehicles in an accident? </h2>
<h3>The average number of vehicles in an accident is 1.8 </h3>

In [ ]:
avg_vehicles = np.round(accident['Number_of_Vehicles'].mean(), 1)

In [ ]:
avg_vehicles

<h1>Insight No. 7</h1>
<h2>What road surface conditions has the highest number of accident?</h2>
<h3>The road surface conditions that has the highest accident is a dry surface.</h3>

In [ ]:
roadsurface_accidents = accident['Road_Surface_Conditions'].value_counts()
roadsurface_accidents

<h1>Insight No. 8</h1>
<h2>What is the most common accident severity ? </h2>
<h3>The most common accident severity is 'Slight'</h3>

In [ ]:
avg_severity = accident['Accident_Severity'].mode()[0]

In [ ]:
avg_severity

<h1>Insight No. 9</h1>
<h2>What area has the has the higher number of casualties?</h2>
<h3>Urban area has a higher number of casualties</h3>

In [ ]:
area_casualties = accident.groupby('Urban_or_Rural_Area')['Number_of_Casualties'].sum()

In [ ]:
area_casualties

<h1>Insight No. 10</h1>
<h2>What light conditions has the highest number of accident?</h2>
<h3>On Daylight has the highest number of accidents</h3>

In [ ]:
lightCdt_accidents = accident['Light_Conditions'].value_counts()

In [ ]:
roadtype_accidents

In [ ]:
lightCdt_accidents

<h1>Insight No. 11</h1>
<h2>whats weather conditions has the highest number of accident?</h2>
<h3>Fine no high winds has the highest number of accidents</h3>

In [ ]:
weatherCdt_accidents = accident['Weather_Conditions'].value_counts()

In [ ]:
weatherCdt_accidents

<h1>Insight No. 12</h1>
<h2>What is the average number of casualties in the urban, rural and unallocated areas?</h2>
<h3>The average number of casualties for rural area accidents is 1.5, for the urban area is 1.3 , and for unallocated areas is 1.2.</h3>

In [ ]:
avg_casualties_per_area = np.round(accident.groupby('Urban_or_Rural_Area')['Number_of_Casualties'].mean(), 1)

In [ ]:
avg_casualties_per_area

<h1>Insight No. 13</h1>
<h2>What is the average number of casualties in each weather conditions?</h2>
<h3>TFine with no winds, fine with high winds, raining with high winds, raining with no winds, snowing with high winds, and other weather conditions have an average of 1.4 casualties, then snowing with no high winds has an average of 1.3 casualties, while fog or mist has 1.5 casualties.</h3>

In [ ]:
avg_casualties_per_weather = np.round(accident.groupby('Weather_Conditions')['Number_of_Casualties'].mean(), 1)

In [ ]:
avg_casualties_per_weather

<h1>Insight No. 14</h1>
<h2>What road area has the higher number of accidents?</h2>
<h3>Urban roads have a higher accidents than roads in rural areas.</h3>

In [ ]:
accidents_per_area_road = accident.groupby(['Urban_or_Rural_Area', 'Road_Type']).size().unstack().T

In [ ]:
accidents_per_area_road

<h1>Insight No. 15</h1>
<h2>Which combinations of weather and light conditions result in the highest number of casualties?</h2>
<h3>Daylight and fine with no high winds have the highest number of casualties.</h3>

In [ ]:
casualties_by_weather_light = accident.groupby(['Weather_Conditions', 'Light_Conditions'])['Number_of_Casualties'].sum().unstack()

In [ ]:
casualties_by_weather_light

<h1>Insight No. 16</h1>
<h2>Does having more vehicles involve results to more casualties?</h2>
<h3>No, having more vehicles doesn't mean more casualties.</h3>
<h3>The number of vehicles has no correlation with the number of casualties</h3>

In [ ]:
vehicles_casualties_corr = accident['Number_of_Vehicles'].corr(accident['Number_of_Casualties'])

In [ ]:
vehicles_casualties_corr

<h1>Insight No. 17</h1>
<h2>What vehicle type has the highest number of accidents</h2>
<h3>A car has the highest number of accidents</h3>

In [ ]:
vehicletype_accidents = accident['Vehicle_Type'].value_counts()

In [ ]:
vehicletype_accidents

<h1>Insight No. 18</h1>
<h2>What district area has the highest number of accidents</h2>
<h3>Birmingham has the highest number of accidents</h3>

In [ ]:
districtarea_accidents = accident['District Area'].value_counts()

In [ ]:
districtarea_accidents

<h1>Insight No. 19</h1>
<h2>Which district area has the highest average number of casualties?</h2>
<h3>Blaeu Gwent has the highest average number of casualties</h3>

In [ ]:
avg_casualties_per_district = np.round(accident.groupby('District Area')['Number_of_Casualties'].mean(), 1).sort_values(ascending = False)

In [ ]:
avg_casualties_per_district

<h1>Insight No. 20</h1>
<h2>Do different road surface conditions impact the number of casualties?</h2>
<h3>The road surface conditions impact the number of casualties</h3>
<h3>There is correlation between road surface condtions and number of casualties</h3>

In [ ]:
dry = accident[accident['Road_Surface_Conditions'] == 'Dry']['Number_of_Casualties']
wet = accident[accident['Road_Surface_Conditions'] == 'Wet or damp']['Number_of_Casualties']
f_stat, p_value = f_oneway(dry, wet)
print(p_value)