In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns

In [2]:
print("hello world")

hello world

<h1> Test </h1>

In [3]:
pip install numpy

Requirement already satisfied: numpy in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
birds = pd.read_csv('dataset\\penguins.csv')

In [8]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [9]:
birds['weight'] = np.round(birds ['body_mass_g']/1000,1)

In [10]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
weight                2
dtype: int64

In [11]:
birds.describe().T

,count,mean,std,min,25%,50%,75%,max
rowid,344.0,172.500000,99.448479,1.0,86.750,172.50,258.25,344.0
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.50,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.70,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.00,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.00,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.00,2009.0
weight,342.0,4.202047,0.803089,2.7,3.600,4.00,4.80,6.3

In [12]:
birds['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [13]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

In [14]:
birds['sex'] = birds ['sex'].fillna(birds['sex'].mode()[0])
birds['bill_length_mm'] = birds ['bill_length_mm'].fillna(birds['bill_length_mm'].mean())
birds['bill_depth_mm'] = birds ['bill_depth_mm'].fillna(birds['bill_depth_mm'].mean())
birds['flipper_length_mm'] = birds ['flipper_length_mm'].fillna(birds['flipper_length_mm'].mean())
birds['body_mass_g'] = birds ['body_mass_g'].fillna(birds['body_mass_g'].mean())
birds['weight'] = birds ['weight'].fillna(birds['weight'].mean())

In [15]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
dtype: int64

In [16]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.800000
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.200000
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.202047
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.400000
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.000000
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.400000
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.800000
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.100000
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.800000

In [17]:
birds ['year'] = birds ['year'].astype('category')
birds ['rowid'] = birds ['rowid'].astype('category')
birds ['species'] = birds ['species'].astype('category')
birds ['island'] = birds ['island'].astype('category')
birds ['sex'] = birds ['sex'].astype('category')

In [18]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
 9   weight             344 non-null    float64
dtypes: category(5), float64(5)
memory usage: 26.9 KB

In [19]:
birds[birds['species'] == "Chinstrap"].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
weight               68
dtype: int64

In [20]:
birds[birds['species'] == "Adelie"].count()

rowid                152
species              152
island               152
bill_length_mm       152
bill_depth_mm        152
flipper_length_mm    152
body_mass_g          152
sex                  152
year                 152
weight               152
dtype: int64

In [21]:
birds[birds['species'] == "Gentoo"].count()

rowid                124
species              124
island               124
bill_length_mm       124
bill_depth_mm        124
flipper_length_mm    124
body_mass_g          124
sex                  124
year                 124
weight               124
dtype: int64

In [22]:
birds[birds['species'] == "james di misa"].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
dtype: int64

In [23]:
birds['species'] == "Gentoo"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [24]:
birds['body_mass_g'] > 3000

0      True
1      True
2      True
3      True
4      True
       ...
339    True
340    True
341    True
342    True
343    True
Name: body_mass_g, Length: 344, dtype: bool

In [25]:
birds['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [26]:
birds['species'] == "Gentoo"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [27]:
birds[birds['species'] == "Gentoo"]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
152,153,Gentoo,Biscoe,46.10000,13.20000,211.000000,4500.000000,female,2007,4.500000
153,154,Gentoo,Biscoe,50.00000,16.30000,230.000000,5700.000000,male,2007,5.700000
154,155,Gentoo,Biscoe,48.70000,14.10000,210.000000,4450.000000,female,2007,4.400000
155,156,Gentoo,Biscoe,50.00000,15.20000,218.000000,5700.000000,male,2007,5.700000
156,157,Gentoo,Biscoe,47.60000,14.50000,215.000000,5400.000000,male,2007,5.400000
...,...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,male,2009,4.202047
272,273,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,female,2009,4.800000
273,274,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,male,2009,5.800000
274,275,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,female,2009,5.200000
275,276,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,male,2009,5.400000

In [28]:
gentoo_biscoe = birds[(birds['species'] == "Gentoo") & (birds['island'] == 'Biscoe')]

In [29]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
dtype: int64

<h1>Insight 1: Gentoo exclusive in one Island which is biscoe</h1>

In [30]:
gentoo_biscoe

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
152,153,Gentoo,Biscoe,46.10000,13.20000,211.000000,4500.000000,female,2007,4.500000
153,154,Gentoo,Biscoe,50.00000,16.30000,230.000000,5700.000000,male,2007,5.700000
154,155,Gentoo,Biscoe,48.70000,14.10000,210.000000,4450.000000,female,2007,4.400000
155,156,Gentoo,Biscoe,50.00000,15.20000,218.000000,5700.000000,male,2007,5.700000
156,157,Gentoo,Biscoe,47.60000,14.50000,215.000000,5400.000000,male,2007,5.400000
...,...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,male,2009,4.202047
272,273,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,female,2009,4.800000
273,274,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,male,2009,5.800000
274,275,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,female,2009,5.200000
275,276,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,male,2009,5.400000

<h1> Insight 2: Does Chinstrap is exclusive only in Dream Island?</h1>

<h1>Chinstrap lives only in Dream Island</h1>

In [31]:
chin_dream = birds[(birds['species'] == "Chinstrap") & (birds['island'] == 'Dream')]

In [32]:
chin_biscoe = birds[(birds['species'] == "Chinstrap") & (birds['island'] == 'Biscoe')]

In [33]:
chin_torgersen = birds[(birds['species'] == "Chinstrap") & (birds['island'] == 'Torgersen')]

In [34]:
chin_dream

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007,3.5
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007,3.9
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007,3.6
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007,3.5
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007,3.7
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

In [35]:
chin_biscoe

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year, weight]
Index: []

<h1> Insight 3: 
    Adelie Lives in all Island</h1>

In [36]:
adelie_biscoe = birds[(birds['species'] == "Adelie") & (birds['island'] == 'Biscoe')]

In [37]:
adelie_dream = birds[(birds['species'] == "Adelie") & (birds['island'] == 'Dream')]

In [38]:
adelie_torgersen = birds[(birds['species'] == "Adelie") & (birds['island'] == 'Torgersen')]

In [39]:
gentoo_biscoe_W = np.round(gentoo_biscoe['weight'].mean(),1)

<h1>Insight 4: Does island affects the weight of the penguins</h1>

<h1>No, it depends on the species itself</h1>

In [40]:
AW_adelie_biscoe = np.round(adelie_biscoe['weight'].mean(),1)
AW_gentoo_biscoe = np.round(gentoo_biscoe['weight'].mean(),1)
AW_chin_biscoe = np.round(chin_biscoe['weight'].mean(),1)

In [41]:
AW_adelie_biscoe

np.float64(3.7)

In [42]:

AW_gentoo_biscoe

np.float64(5.1)

In [43]:
AW_chin_biscoe

np.float64(nan)

In [44]:
AW_adelie_biscoe = np.round(adelie_biscoe['weight'].mean(),1)
AW_adelie_dream = np.round(adelie_dream['weight'].mean(),1)
AW_adelie_torgersen = np.round(adelie_torgersen['weight'].mean(),1)

<h1> Insight 5: Adelie weight in all island is the same</h1>

In [45]:
AW_adelie_biscoe

np.float64(3.7)

In [46]:
AW_adelie_dream

np.float64(3.7)

In [47]:
AW_adelie_torgersen

np.float64(3.7)

<h1>Insight 6: average weight of chistrap</h1>

In [48]:
AW_chin_biscoe = np.round(chin_biscoe['weight'].mean(),1)
AW_chin_dream = np.round(chin_dream['weight'].mean(),1)
AW_chin_torgersen = np.round(chin_torgersen['weight'].mean(),1)

In [49]:
AW_chin_biscoe

np.float64(nan)

In [50]:
AW_chin_dream

np.float64(3.7)

In [51]:
AW_chin_torgersen

np.float64(nan)

<h1>Insight 7: The heaviest species is Gentoo</h1>

<h1>Insight No.8</h1>

<h1>What year has the highest recorded "male" adelie, and in what island</h1>

In [52]:
SW_birds = birds.groupby(['sex','species','year','island']).size()

C:\Users\LAB4-StudentPC12\AppData\Local\Temp\ipykernel_9900\288122531.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  SW_birds = birds.groupby(['sex','species','year','island']).size()

In [53]:
SW_birds.unstack()

island                 Biscoe  Dream  Torgersen
sex    species   year
female Adelie    2007       5      9          8
                 2008       9      8          8
                 2009       8     10          8
       Chinstrap 2007       0     13          0
                 2008       0      9          0
                 2009       0     12          0
       Gentoo    2007      16      0          0
                 2008      22      0          0
                 2009      20      0          0
male   Adelie    2007       5     11         12
                 2008       9      8          8
                 2009       8     10          8
       Chinstrap 2007       0     13          0
                 2008       0      9          0
                 2009       0     12          0
       Gentoo    2007      18      0          0
                 2008      24      0          0
                 2009      24      0          0

<h1>Insight no. 9</h1>
<h2>What sex is heavier in adelie species</h2>

<h3>heaviest male adelie is weighing 4.017747</h3>

In [54]:
HW_adelie = np.round(birds.groupby(['sex','species'])['weight'].mean(),1)

C:\Users\LAB4-StudentPC12\AppData\Local\Temp\ipykernel_9900\3304820182.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  HW_adelie = np.round(birds.groupby(['sex','species'])['weight'].mean(),1)

In [55]:
HW_adelie

sex     species
female  Adelie       3.4
        Chinstrap    3.5
        Gentoo       4.7
male    Adelie       4.0
        Chinstrap    3.9
        Gentoo       5.4
Name: weight, dtype: float64

<h1>Insight no. 10</h1>
<h2>Which sex is heavier in Chinstrap Species</h2>

<h3> The heaviest Chistrap is Male</h3>

In [56]:
HW_chinstrap = np.round(birds.groupby(['sex','species'])['weight'].mean(),1)

C:\Users\LAB4-StudentPC12\AppData\Local\Temp\ipykernel_9900\3767507471.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  HW_chinstrap = np.round(birds.groupby(['sex','species'])['weight'].mean(),1)

In [57]:
HW_chinstrap.unstack()

species  Adelie  Chinstrap  Gentoo
sex
female      3.4        3.5     4.7
male        4.0        3.9     5.4

<h1>Insight no. 11</h1>
<h2>Which sex is heavier in Gentoo Species</h2>
<h3> The heaviest Gentoo is Male</h3>

In [58]:
HW_Gentoo = np.round(birds.groupby(['sex','species'])['weight'].mean(),1)

C:\Users\LAB4-StudentPC12\AppData\Local\Temp\ipykernel_9900\1761745239.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  HW_Gentoo = np.round(birds.groupby(['sex','species'])['weight'].mean(),1)

In [59]:
HW_Gentoo.unstack()

species  Adelie  Chinstrap  Gentoo
sex
female      3.4        3.5     4.7
male        4.0        3.9     5.4

<h1> Insight no. 12</h1>
<h3> Correlation</h3>
<h4>There is no correlation between Bill length and bill depth</h4>

In [60]:
b_dl_cor = birds['bill_length_mm'].corr(birds['bill_depth_mm'])

In [61]:
b_dl_cor

np.float64(-0.23505287035553282)

<h1>Insight no. 13</h1>
<h3>Does body mass affects the bill length</h3>
<h4>The body mass indeed correlate with bill length</h4>

In [62]:
b_bl_cor = birds['body_mass_g'].corr(birds['bill_length_mm'])

In [63]:
b_bl_cor

np.float64(0.5951098244376305)

<h1>Insight no. 14</h1>
<h3>Does the size of flipper affects bill length</h3>
<h3>The flipper correlate with bill length</h3>

In [64]:
b_flip_cor = birds['flipper_length_mm'].corr(birds['bill_length_mm'])

In [65]:
b_flip_cor

np.float64(0.6561813407464278)

<h1>Insight no. 15</h1>
<h3>Does the size of body affects the flipper length</h3>
<h3>The body correlate with flipper</h3>

In [66]:
b_body_corr = birds['flipper_length_mm'].corr(birds['body_mass_g'])

In [67]:
b_body_corr

np.float64(0.8712017673060114)

In [69]:
pip install scipy

Requirement already satisfied: scipy in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (1.15.2)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc12\appdata\local\programs\python\python312\lib\site-packages (from scipy) (2.2.2)

In [71]:
from scipy.stats import f_oneway

In [73]:
male_bm = birds[birds ['sex'] == 'male']['weight']

In [75]:
female_bm = birds[birds ['sex'] == 'female']['weight']

In [82]:
f_stat, p_value = f_oneway (male_bm,female_bm)

<h1>Insight no. 16</h1>
<h2>There is a correlation between sex and body mass</h2>
<h3>P_Value = 2.5288724247849435e-15</h3>

In [83]:
f_stat, p_value

(np.float64(68.80708261074153), np.float64(2.5288724247849435e-15))